In [2]:
import pandas as pd

df = pd.read_csv("pandastut.csv")
df[['day', 'temperature']]

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [7]:
print(df.tail(100))

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [12]:
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [17]:
type(df.event) #type(df['event'])

pandas.core.series.Series

In [18]:
#to print more than one column
print(df[['day', 'temperature']])

        day  temperature
0  1/1/2017           32
1  1/2/2017           35
2  1/3/2017           28
3  1/4/2017           24
4  1/5/2017           32
5  1/6/2017           31

In [23]:
#Operations on a dataframe
print("Maximum temperature is", df['temperature'].max()) 
print("Minimum temperature is", df['windspeed'].min())

Maximum temperature is 35
Minimum temperature is 2

In [5]:
#Show analytics of a dataframe
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [10]:
df[['day', 'temperature']][df.temperature == df['temperature'].max()] #Just like in SQL SELECT DAY AND TEMPERATURE WHERE TEMPERATURE IS MAXIMUM

        day  temperature
1  1/2/2017           35

In [12]:
df.index #Prints out the index, in this case, numbers 0 through 6.
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [3]:
df.index #Notice how still the index is a list of numbers 0 through 6
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [4]:
#To solve this prob, we use Inplace = True
df.reset_index(inplace = True)
df.set_index('day')

          index  temperature  windspeed  event
day
1/1/2017      0           32          6   Rain
1/2/2017      1           35          7  Sunny
1/3/2017      2           28          2   Snow
1/4/2017      3           24          7   Snow
1/5/2017      4           32          4   Rain
1/6/2017      5           31          2  Sunny

In [7]:
df.set_index('day',inplace=True)
df

KeyError: 'day'